body {
  margin: 0;
  font-family: Lato;
}

.header_container {
  height: 200px;
  background: #2bd5db49;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.navbar {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  font-size: 1.5em;
  font-weight: 300;
}

.breadNav {
  margin-right: 55px;
  text-decoration: none;
  color: black;
}

.sweetNav {
  margin-right: 55px;
  text-decoration: none;
  color: black;
}

.savoryNav {
  margin-right: 55px;
  text-decoration: none;
  color: black;
}

.aboutNav {
  margin-right: 55px;
  text-decoration: none;
  color: black;
}

.pressNav {
  text-decoration: none;
  color: black;
}

.slogan_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
  height: 400px;
  font-size: 2.2em;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 260px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.slogan {
  background: #FFFFFFAA;
  padding: 20px;
}

.body_title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 2em;
  font-weight: 300;
}

.image {
  width: 100%;
  height: 100%;
}

.imagesContainer {
  display: grid;
  grid-template-columns: 40% 40%;
  row-gap: 40px;
  column-gap: 40px;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2bd5db49;
  padding: 30px;
}

.hours_title {
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: underline;
}

.hours_weekdays {
  margin-top: 5px;
  margin-bottom: 0px;
}

.hours_weekends {
  margin-top: 5px;
  margin-bottom: 0px;
}

.address {
  margin-top: 20px;
  margin-bottom: 0px;
}

.phone_number {
  margin-top: 20px;
  margin-bottom: 0px;
}

.instagram {
  margin-top: 20px;
  margin-bottom: 0px;
}

.copyright {
  margin-top: 20px;
  margin-bottom: 0px;
}

#slider {
  width: 100%;
  padding: 0px;
  margin-top: 100px;
}
ul {
  list-style: outside none none;
  position: relative;
  height: 350px;
  padding: 0px 0px;
  margin: 0;
}
ul:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  margin: 0;
}
li {
  position: absolute;
}
.animation {
  animation: 36s linear 60s infinite running cycle1; /* small delay added for image to be loaded, this can be ignored if image is preloaded */
}
.animation2 {
  animation: 28s linear cycle2;
}
.animation3 {
  animation: 20s linear cycle3;
}
.animation4 {
  animation: 14s linear cycle4;
}
.animation5 {
  animation: 4s linear cycle5;
}
@keyframes cycle1 {
  0% {
    left: -390px;
    opacity: 1;
  }
  100% {
    right: -690px;
    opacity: 1;
  }
}
@keyframes cycle2 {
  0% {
    left: 0px;
    opacity: 1;
  }
  100% {
    right: -690px;
    opacity: 1;
  }
}
@keyframes cycle3 {
  0% {
    left: 390px;
    opacity: 1;
  }
  100% {
    right: -690px;
    opacity: 1;
  }
}
@keyframes cycle4 {
  0% {
    left: 780px;
    opacity: 1;
  }
  100% {
    right: -690px;
    opacity: 1;
  }
}
@keyframes cycle5 {
  0% {
    left: 1150px;
    opacity: 1;
  }
  100% {
    right: -690px;
    opacity: 1;
  }
}
.animation[class*='img'] {
  left: 100%;
}
.animation2[class*='img'] {
  left: 100%;
}
.animation3[class*='img'] {
  left: 100%;
}
.animation4[class*='img'] {
  left: 100%;
}
.animation5[class*='img'] {
  left: 100%;
}
.animation.img1 {
  animation-delay: 0s;
}
.animation.img2 {
  animation-delay: 7s;
}
.animation.img3 {
  animation-delay: 14s;
}
.animation.img4 {
  animation-delay: 21s;
}
.animation.img5 {
  animation-delay: 28s;
}
.animation2 {
  animation-delay: 0s;
}
.animation3 {
  animation-delay: 0s;
}
.animation4 {
  animation-delay: 0s;
}
.animation5 {
  animation-delay: 0s;
}
ul.overflow-hidden {
  overflow: hidden;
}
.img {
  width: 390px;
}

@media (max-width: 700px) {
  .img {
    width: 280px;
  }
  ul {
    list-style: outside none none;
    position: relative;
    height: 250px;
    padding: 0px 0px;
    margin: 0;
  }
  @keyframes cycle1 {
    0% {
      left: -280px;
      opacity: 1;
    }
    100% {
      right: -690px;
      opacity: 1;
    }
  }
  @keyframes cycle2 {
    0% {
      left: -10px;
      opacity: 1;
    }
    100% {
      right: -690px;
      opacity: 1;
    }
  }
  @keyframes cycle3 {
    0% {
      left: 260px;
      opacity: 1;
    }
    100% {
      right: -690px;
      opacity: 1;
    }
  }
  @keyframes cycle4 {
    0% {
      left: 510px;
      opacity: 1;
    }
    100% {
      right: -690px;
      opacity: 1;
    }
  }
  @keyframes cycle5 {
    0% {
      left: 840px;
      opacity: 1;
    }
    100% {
      right: -690px;
      opacity: 1;
    }
  }
  .animation {
    animation: 15s linear infinite running cycle1; /* small delay added for image to be loaded, this can be ignored if image is preloaded */
  }
  .animation.img2 {
    animation-delay: 5s;
  }
  .animation.img3 {
    animation-delay: 10s;
  }
  .animation.img4 {
    animation-delay: 15s;
  }
  .animation.img5 {
    animation-delay: 20s;
  }
  .animation2 {
    animation: 10s linear cycle2;
  }
  .animation3 {
    animation: 5s linear cycle3;
  }
  .animation4 {
    animation: 1s linear cycle4;
  }
  .animation5 {
    animation: 1s linear cycle5;
  }
  .slogan_container {
    font-size: 20px;
    top: 220px;
  }
  .slogan {
    padding: 10px;
    line-height: 40px;
  }
  .navbar {
    font-size: 18px;
  }
  .breadNav {
    margin-right: 15px;
  }
  .sweetNav {
    margin-right: 15px;
  }
  .savoryNav {
    margin-right: 15px;
  }
  .aboutNav {
    margin-right: 15px;
  }
}